@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  padding: 1em 5%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-columns: 75% 0 25%;
  grid-rows: auto 1em auto;
}

main {
  clear: both;
}

/*section {
  display: block;
}*/

body > header #title {
  display: inline;
  float: left;
}

body > header {
  grid-column-span: 3;
  grid-row: 1;
}

#title, #login_section, #user_section, nav {
  height: 64px;
}

body > nav ul {
  list-style: none;
  padding: 0.3em;
  margin-top: auto;
  margin-bottom: auto;
}

body > nav ul li {
  float: left;
  margin-right: 0.3125em;
  margin-top: auto;
  margin-bottom: auto;
}

body > nav ul a {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

#ordering {
  grid-column: 1;
  grid-row: 3;
}

#ticket {
  grid-column: 3;
  grid-row: 3;
}

#login_section {
  float:right;
}

#user_section {
  display: none;
}



a {
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body > header a h1::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/main_icon.svg") no-repeat 0 0;
    background-size: 100%;
  /*content: url("../img/main_icon.svg");*/
}