@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

article[id$="ordering"] {
  display: none;
}

article[id$="ordering"].selected {
  display: inherit;
}

body {
  padding: 1em 5%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-columns: 75% 0 25%;
  grid-rows: auto 1em auto;
}

main {
  width: 90%;
  margin: 0 auto;
}

body > header #title {
  display: inline;
  float: left;
}

body > header {
  grid-column-span: 3;
  grid-row: 1;
}

#title, #login_section, #user_section, body > nav, body > nav > ul, body > nav > ul > li {
  height: 64px;
}

body > nav ul {
  list-style: none;
  /*padding: 0.3em;*/
  vertical-align: middle;
}

body > nav ul li {
  float: left;
  margin-left: 1em;
  display: table-cell;
  vertical-align: middle;
}

body > nav ul a {
  display: block;
  font-size: 24px;
}

#ordering {
  grid-column: 1;
  grid-row: 3;
}

#ticket {
  grid-column: 3;
  grid-row: 3;
}

#login_section {
  float:right;
}

#user_section {
  display: none;
}



a {
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

main nav ul {
  list-style: none;
}

main nav li {
  display: inline;
  font-size: 20px;
}

main nav li a {
  padding: 0 1em;
}

section#ordering {
  float: right;
  width: 75%;
}

section#ticket {
  float: left;
  width: 25%;
}

dialog {
  clear: both;
  display: block;
}

body > header a h1::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/main_icon.svg") no-repeat 0 0;
    background-size: 100%;
  /*content: url("../img/main_icon.svg");*/
}

#paymentDialog {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-image:url(../img/Transparent.png);
}

#paymentDialog form {
     display: block;
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
