@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

article[id$="ordering"] {
  display: none;
}

#ordering {
  margin-bottom: 2em;
}

article[id$="ordering"].selected {
  display: inherit;
}

label + label::before, .burger_price::before, #total_price::before {
  content: "$"
}

fieldset.outer > legend {
  font-size: 1.25em;
}

label + label::before {
  content: " - $";
}

body {
  padding: 1em 5%;
  max-width: 1000px;
  min-width: 640px;
  margin: 0 auto;
}

fieldset ol {
  list-style: none;
  padding-left: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

main > form > fieldset > input {
  margin-left: 2em;
}

#login label, dialog label {
  display: inline-block;
  width : 100px;
}

main > article > p:last-child {
  color: #999;
}

#login label::after, dialog label::after {
  content: ": ";
}

main {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  padding-top: 1em;
}

body > header #title {
  display: inline;
  float: left;
  padding-right: 0.5em;
}


#title, #login_section, #user_section, body > nav, 
body > nav > ul, body > nav > ul > li {
  height: 64px;
}

body > nav ul {
  list-style: none;
  vertical-align: middle;
}

body > nav ul li {
  float: left;
  /*margin-left: 1em;*/
  display: table-cell;
  vertical-align: middle;
}

body > nav ul a {
  display: block;
  font-size: 24px;
  padding: 0 0.5em;
  margin-top: 0.16em;
}

#login_section, #user_section {
  float:right;
}


#user_section {
  display: none;
}


a {
  text-decoration: none;
  color: #007;
}

a:hover {
  background: #BEE;
  border-radius: 0.25em;

}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

main nav ul, fieldset ol {
  list-style: none;
}

main nav li {
  display: inline;
  font-size: 1.375em;
}

main nav li a {
  padding: 0 1em;
}

section#ordering {
  float: right;
  width: 75%;
}

section#ticket {
  float: left;
  width: 25%;
}

dialog {
  clear: both;
  display: block;
}

body > header a h1::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/main_icon.svg") no-repeat 0 0;
    background-size: 100%;
  /*content: url("../img/main_icon.svg");*/
}

#paymentDialog {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-image:url(../img/Transparent.png);
     /* And because Chrome is needy: */
     background-color: transparent;
}

#paymentDialog form {
     display: block;
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     border-radius: 0.5em;
     padding:15px;

}

#paymentDialog form ol {
  padding-left: 1em;
}

#paymentDialog form div {
  text-align: center;
}

fieldset {
  border-radius: 0.5em;
}

#total_price, .burger_price {
  list-style-type: none;
}

.deleteTicketItemButton, .adjuster {
  float: right; 
}
